/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
  --pr-color: #fff;
  --second-color: #060a0f;
  --cubicbz: cubic-bezier(0.9, 0, 0.1, 1);
  --fz-big: 60px;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-feature-settings: "pnum" on, "lnum" on;
}

body {
  background: var(--second-color);
}

/******************************************/
section {
  padding-top: 150px;
  padding-bottom: 50px;
}

.wrapp {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.content {
  width: 100%;
  padding: 0 70px;
}

.char {
  display: inline-block;
}

/* Paralax Effect On GSAP **********************************/
/* header ********/
.header {
  position: relative;
  display: flex;
  padding: 0 70px;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  row-gap: 32px;
}

.header__marq {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__marq {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.header__marq-wrapp {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px 70px;
}

.header__marq-txt {
  position: relative;
  flex: 0 0 auto;
  display: inline-block;
  padding-right: 55px;
  margin-right: 15px;
  text-transform: uppercase;
  color: var(--pr-color);

  font-size: 35px;
}

.header__marq-star {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
}

.header__marq-star img {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  margin: 0;
  font-size: 65px;
  text-align: start;
  color: var(--pr-color);
  text-transform: uppercase;
  mix-blend-mode: difference;
  z-index: 2;
}
.title__exp {
  line-height: 1.67;
  font-size: 18px;
  color: #979797;
  width: 35vw;
  text-align: start;
  font-weight: 600;
}
.header__btn {
  position: relative;
  display: flex;

  padding: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 32px;
  margin-top: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: var(--pr-color);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
}
.header__btn .arrow-gray {
  display: none;
}
.header__btn:hover .arrow-gray {
  display: flex;
}

.header__btn-txt {
  position: relative;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 2;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__btn:hover .header__btn-txt {
  letter-spacing: 4px;
  width: 100%;
  align-items: center;
  color: var(--second-color);
}
.header__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateX(-102%);
  background: #ffffff;
  transition: all 0.4s;
  z-index: 1;
}
.header__btn:hover .header__btn-bg {
  transform: translateX(0);
}
.title_paralax {
  display: inline-block;
  will-change: transform;
}

.title .stroke {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 2px var(--pr-color);
}

.header__img {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 48px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  overflow: hidden;
}

.header__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  line-height: 0.8;
  font-size: 70px;
  text-align: center;
  color: var(--pr-color);
  text-transform: uppercase;
}

.section-title .stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* about ********/
.about .section-title {
  text-align: left;
}

.about__wrapp {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;

  padding: 32px;
}

.about__img,
.about__txt {
  width: calc(50% - 35px);
  height: auto;
}

.about__txt {
  padding-right: 70px;
  padding-left: 70px;
}

.about__p {
  line-height: 1.67;
  font-size: 18px;
  color: #979797;
  width: 35vw;
  text-align: start;
  font-weight: 600;
}

.about__img {
  height: 80vh;
  overflow: hidden;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* benefits ********/
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  height: auto;
}

.benefits__item {
  list-style: none;
  width: calc(33.33% - 27px);
}

.benefits__num {
  display: inline-block;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke: 1px var(--pr-color);
}

.benefits__p {
  font-size: 20px;
  color: #4b4b4b;
}

/* work ********/
.work {
  padding-top: 150px;
}

.work__wrapp {
  display: flex;
  flex-wrap: wrap;
  row-gap: 120px;
  justify-content: space-between;
  padding: 0 120px;
  margin-top: -90px;
}

.work__item {
  position: relative;
  width: calc(50% - 60px);
  height: 100vh;
  cursor: pointer;
  transition: all 0.3s;
}

.work__item-num {
  position: absolute;
  display: inline-block;
  font-size: 50px;
  color: var(--pr-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.work__item-img {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  transition: all 0.3s;
}
.work__item-img img {
  transition: all 0.3s;
}

.work__item:hover .work__item-text-div {
  opacity: 1;
  bottom: 70px;
}
.work__item:hover .work__item-img img {
  object-position: bottom;
  opacity: 0.5;
}
.work__item-text-div {
  width: 100%;
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.11);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-align: start;
  line-height: 1.67;
  display: flex;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  transition: all 0.3s;
  bottom: 40px;
}
.work__item-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* serv ********/
.serv__item {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #2f2e2e;
}

.serv__item-arrow {
  position: absolute;
  display: inline-block;
  width: 55px;
  height: 55px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.serv__item-arrow img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(180deg);
}

.serv__item-txt {
  font-size: 50px;
  color: #4b4b4b;
  text-transform: uppercase;
}

/* footer ********/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer__div {
  font-size: 70px;
  letter-spacing: 15px;
  color: var(--pr-color);
  text-transform: uppercase;
}

.footer__div span {
  display: inline-block;
}

.spacer {
  width: 100vw;
  height: 10vh;
}
.skann-icon {
  width: 80px;
}

.hub-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hub-exp-div {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: start;
}
.hub__exp {
  line-height: 1.67;
  font-size: 18px;
  color: #979797;
  width: 35vw;
  text-align: start;
  font-weight: 600;
}
.product__btn {
  position: relative;
  display: flex;

  padding: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 32px;
  margin-top: 10px;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: var(--pr-color);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
}
.product__btn .arrow-black {
  display: none;
}
.product__btn:hover .arrow-black {
  display: block;
}
.product__btn:hover .arrow-white {
  display: none;
}

.product__btn-txt {
  position: relative;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 2;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product__btn:hover .product__btn-txt {
  letter-spacing: 4px;
  width: 100%;
  align-items: center;
  color: var(--second-color);
}
.product__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateX(-102%);
  background: #ffffff;
  transition: all 0.4s;
  z-index: 1;
}
.product__btn:hover .product__btn-bg {
  transform: translateX(0);
}
.container-workflow {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  align-items: center;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 48px;
  padding-right: 48px;
}
.brain {
  padding: 32px;
}

.container-inside-div {
  align-items: center;
  position: relative;
  justify-content: center;
  width: 30vw;
  display: flex;
}

.container-workflow svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}
.brain svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

@keyframes slideMask {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideMask2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slideMaskBrain {
  from {
    transform: translateX(-260%);
  }
  to {
    transform: translateX(100%);
  }
}
.container-workflow .mask-rect {
  animation: slideMask 3s ease infinite;
}

.mask-rect3 {
  animation: slideMaskBrain 3s ease infinite;
}
.container-workflow .mask-rect2 {
  animation: slideMask2 3s ease infinite;
}

.big-box {
  width: 6rem;
  height: 11rem;
  background: #edebeb;
  position: absolute;
  right: 0;
  top: 8rem;
  bottom: auto;
  left: auto;
  z-index: 9;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 4rem;
  height: 4rem;
  background: #edebeb;
  position: absolute;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.first {
  top: -2rem;
}

.box.second {
  top: 6rem;
}

.box.third {
  top: 15rem;
}

.box.fourth {
  bottom: -2rem;
}
.brain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-text-item-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}
.workflow-icon {
  height: 40px;
}
.workflow-icon-text-div {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: start;
}
.workflow-icon-title {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.workflow-icon-exp {
  font-size: 12px;
  font-weight: 500;
  color: #979797;
}
.workflow-left-items,
.workflow-right-items {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .workflow-left-items,
  .workflow-right-items {
    height: 340px;
  }
}
@media (max-width: 1000px) {
  .workflow-left-items,
  .workflow-right-items {
    height: 310px;
  }
}
@media (max-width: 900px) {
  .workflow-left-items,
  .workflow-right-items {
    height: 250px;
  }
}
